html, body {
    height: 100%;
    margin: 0;
}

.elm-overlay {
	z-index: 1000;
}

.game-cards {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 7px;
  margin-right: 7px;
}

.game-card {
  margin: 7px;
}

.game-card-image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  transition: 250ms filter linear;
}

.game-card-deselected {
  filter: grayscale(1.0) opacity(0.9) blur(2px);
}

.home-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-wrapper {

}

.new-poll-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.go-to-poll {
  margin-top: 20px;
}
